.container {
    position: relative;
    top: 10%;
    height: 450px;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 5px 5px 5px grey;
}

.tab-bar {
    overflow: hidden;
    padding: 10px;
    background-color: #f1f1f1;
}

.tab-bar button {
    background-color: inherit;
    width: 100%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.tab-bar button:hover {
    background-color: #ddd;
}

.tab-content {
    display: flex;
    align-items: center;
}

.tab {
    width: 100%;
}


.feedObject{
    text-align: justify;
    align-content: center;
}

.postImage{
    width: 50%;
}